<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/870fcf4b-d184-4bf8-8dcb-faf80d1a3e0d/resourceGroups/rg-deployment/providers/Microsoft.Web/sites/net5-deployment-alumno-api</ResourceId>
    <ResourceGroup>rg-deployment</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://net5-deployment-alumno-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ca585b66-fdec-4e8a-9a18-d023451cfd8b</ProjectGuid>
    <PublishUrl>https://net5-deployment-alumno-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$net5-deployment-alumno-api</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>